# --- Node modules ---
frontend/node_modules/
backend/node_modules/

# === Environment files (if added later) ===
env
.env
.env.*
venv
.venv
.venv.*

# === Editor-specific files ===
.vscode/

# === Frontend ===
frontend/src/oldApp.jsx
frontend/test